html{
	font-family: cursive;
	color:white;
}

body{
	background-image: url(img/2.jpg);
	background-size:cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin-left:20%;
	margin-right:20%;
	font-size: 24px;
}

nav{
	background-color:rgba(140, 12, 108, .6);
	border-style: solid;
	border-radius: 3px;
	border-color: white;
}

nav ul{
	list-style: none;
	display: flex;
	justify-content: space-around;
	font-size: 24px;
}

a{
	text-decoration: none;
	color:white;
}

p{
	margin-left: 2%;
	margin-right: 2%;
}

h1{
	padding-left: 2%;
}

section{
	margin-top: 2%;
	border-style: solid;
	border-radius: 3px;
	border-color: white;
	background-color:rgba(140, 12, 108, .6);
}

b{
	color:white;
}
